spring:
  application:
    name: finance-security
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true

resend:
  api:
    key: ${RESEND_API_KEY}

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: WARN
    org.hibernate: ERROR
    org.springframework.security: TRACE
    org.springframework.security.web.FilterChainProxy: TRACE
    org.springframework.security.web.access: TRACE
    org.springframework.security.web.authentication: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  issuer: finance-security
  audience: fintrack
  access:
    expiration:
      ms: ${JWT_EXPIRATION_MS:900000}     # 15 минут (можешь поставить 3600000 = 1 час)
  refresh:
    expiration:
      ms: ${JWT_REFRESH_EXPIRATION_MS:2592000000} # 30 days

google:
  client:
    web-client-id: ${GOOGLE_WEB_CLIENT_ID}
    android-client-id: ${GOOGLE_ANDROID_CLIENT_ID}
    ios-client-id: ${GOOGLE_IOS_CLIENT_ID}

apple:
  issuer: ${APPLE_ISSUER}
  jwks-url: ${APPLE_JWKS_URL}
  audience: ${APPLE_AUDIENCE:pro.fintrack.app}