server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: shzh1997
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.security.web.FilterChainProxy: TRACE
    org.springframework.security.web.access: TRACE
    org.springframework.security.web.authentication: TRACE

resend:
  api:
    key: ${RESEND_API_KEY}

jwt:
  secret: ${JWT_SECRET}
  access:
    expiration:
      ms: ${JWT_EXPIRATION_MS:900000}     # 15 минут (можешь поставить 3600000 = 1 час)
  refresh:
    expiration:
      ms: ${JWT_REFRESH_EXPIRATION_MS:2592000000} # 30 days

google:
  client:
    web-client-id: ${GOOGLE_WEB_CLIENT_ID}
    android-client-id: ${GOOGLE_ANDROID_CLIENT_ID}
    ios-client-id: ${GOOGLE_IOS_CLIENT_ID}

apple:
  issuer: ${APPLE_ISSUER}
  jwks-url: ${APPLE_JWKS_URL}
  audience: ${APPLE_AUDIENCE:pro.fintrack.app}